.foorter{
    width: 1440px;
    height: 150px;
    padding-top: 50px;
    margin: 0 auto;
    
    background-color: 
    #002529;
}
.conatiner{
    width: 1110px;
    margin: 0 auto;
  
}

.footer__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.footer__title{
    color: #fff;
    font-size: 40px;
}
.footer__mini{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__mini--text{
    margin: 10px;
    color: #fff;
}
.footer__text{
    color: #fff;
}
.footer__subtitle{
    color: #fff;
    margin-top: 15px;
}
